.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: 100%;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  -webkit-mask-position: center;
  background-color: #487B94;
  vertical-align: middle;
}
.icon.icon-arrow-right {
  mask-image: url("images/right-arrow.svg");
  -webkit-mask-image: url("images/right-arrow.svg");
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.w-100 {
  width: 100% !important;
}

.btn-dark {
  border: 1px solid black;
  outline: none;
  color: white;
  padding: 18px 22px;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s;
}
.btn-dark:hover {
  background-color: #1a1a1a;
  cursor: pointer;
}

.btn-light {
  border: 1px solid #979797;
  outline: none;
  color: black;
  padding: 18px 22px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}
.btn-light:hover {
  background-color: black;
  cursor: pointer;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Klarna Text, Helvetica Neue, Arial, Helvetica, sans-serif !important;
}
body .navbar {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.32);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
}
body .navbar .menu {
  z-index: 100;
  margin-right: 50px;
  display: flex;
  align-items: center;
}
body .navbar .menu .logo-img {
  margin-right: 25px;
}
body .navbar .menu ul {
  list-style: none;
  display: flex;
}
body .navbar .menu ul li a {
  padding: 28px 16px 2px 16px;
  margin-bottom: 26px;
  display: block;
  font-weight: bold;
  text-decoration: none;
  color: #555555;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
body .navbar .menu ul li a:hover {
  border-bottom: 1px solid #3b29a0;
  color: #3b29a0 !important;
}
body .navbar .menu ul li a:hover .overlay, body .navbar .menu ul li a:hover .list {
  display: block;
}
body .navbar .menu ul li a:hover body {
  background-color: black !important;
}
body .navbar .menu ul li a .overlay {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: none;
}
body .navbar .menu ul li a .list {
  padding-bottom: 50px;
  cursor: default;
  padding-top: 30px;
  position: absolute;
  top: 48px;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 10;
  display: none;
}
body .navbar .menu ul li a .list .container .row .col {
  width: 33%;
}
body .navbar .menu ul li a .list .container .row .col h1 {
  color: black;
  font-size: 22px;
  margin: 20px 0;
  font-weight: 500;
}
body .navbar .menu ul li a .list .container .row .col .d-flex {
  align-items: center;
  margin-bottom: 18px;
  cursor: pointer;
}
body .navbar .menu ul li a .list .container .row .col .d-flex .store {
  width: 60px;
  margin-right: 15px;
}
body .navbar .menu ul li a .list .container .row .col .d-flex span {
  color: black;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
}
body .navbar .menu ul li a .list .container .row .col .d-flex span:hover {
  color: #487B94;
}
body .navbar .menu ul li a .list .container .row .col .d-flex p {
  margin-right: 10px;
  color: #487B94;
}
body .navbar .menu ul li a .list .container .row .col .d-flex p:hover {
  color: #2f5263;
}
body .navbar .menu ul li a .list .container .row .col .d-flex:hover .icon-arrow-right {
  background-color: #2f5263 !important;
  transform: translateX(5px);
}
body .navbar .menu ul li a .list .container .row .col ul {
  display: block;
}
body .navbar .menu ul li a .list .container .row .col ul li {
  color: black;
  font-weight: 500;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 18px;
}
body .navbar .menu ul li a .list .container .row .col ul li:hover {
  color: #487B94;
}
body .navbar .btn-collapse {
  display: none;
}
body .navbar .button-group {
  z-index: 2000;
  display: flex;
  margin-right: 50px;
  font-family: Klarna Text, Helvetica Neue, Arial, Helvetica, sans-serif !important;
}
body .navbar .button-group .login-box {
  padding: 20px;
  background-color: white;
  position: absolute;
  transform: translateY(35px) translateX(-30px);
}
body .navbar .button-group .login-box .d-flex {
  cursor: pointer;
}
body .navbar .button-group .login-box .d-flex h3 {
  margin: 20px;
  font-weight: 500;
}
body .navbar .button-group .login-box .d-flex h3:hover {
  color: gray;
}
body .navbar .button-group .login {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  margin-right: 20px;
  transition: 0.3s;
  outline: none;
}
body .navbar .button-group .login:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
body .navbar .button-group .get-app {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.35);
  background-color: black;
  padding: 5px 15px;
  border-radius: 20px;
  font-weight: bold;
  color: white;
  transition: 0.3s;
  outline: none;
}
body .navbar .button-group .get-app:hover {
  color: black;
  background-color: transparent;
  cursor: pointer;
}
body .header {
  padding-bottom: 80px;
  margin-bottom: 60px;
  background-image: url(/src/images/Hero_image_homepage.jpg.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
body .header .container .shop-rule h1 {
  width: 60%;
  padding-top: 100px;
  font-size: 60px;
  color: white;
  line-height: 68px;
}
body .header .container .shop-rule h5 {
  width: 45%;
  padding-top: 20px;
  color: white;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 50px;
}
body .header .container .shop-rule p {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}
body .header .container .shop-rule .get-app .img-sqr {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  margin-right: 20px;
}
body .header .container .shop-rule .get-app .omrs-input-group {
  margin-bottom: 1.5rem;
  position: relative;
  width: 20.4375rem;
}
body .header .container .shop-rule .get-app .omrs-input-group input {
  outline: none;
  border: 1px solid #444444;
}
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined > input {
  border-radius: 5px !important;
  width: 100%;
  height: 2rem;
  font-size: 1.0625rem;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
}
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined > .omrs-input-label,
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-filled > .omrs-input-label {
  border-radius: 10px !important;
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  line-height: 147.6%;
  color: var(--omrs-color-ink-medium-contrast);
  transition: top 0.2s;
}
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined > input:focus + .omrs-input-label,
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined > input:valid + .omrs-input-label,
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-filled > input:focus + .omrs-input-label,
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-filled > input:valid + .omrs-input-label {
  top: 0;
  font-size: 0.9375rem;
  margin-bottom: 32px;
}
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
  color: var(--omrs-color-interaction);
}
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined > input:disabled + .omrs-input-label,
body .header .container .shop-rule .get-app .omrs-input-group .omrs-input-underlined > input:disabled ~ .omrs-input-helper {
  color: var(--omrs-color-ink-low-contrast);
}
body .header .container .shop-rule .get-app .line-column {
  border-left: 1px solid #555555;
  margin-right: 20px;
}
body .section-service .container .row .col {
  width: 33%;
  margin-bottom: 23px;
}
body .section-service .container .row .col .card {
  padding: 10px 30px;
}
body .section-service .container .row .col .card img {
  width: 60px;
  margin-bottom: 20px;
}
body .section-service .container .row .col .card h3 {
  margin-bottom: 10px;
}
body .section-service .container .row .col .card p {
  line-height: 25px;
  font-size: 20px;
  color: #555555;
}
body .section-app {
  margin-top: 80px;
}
body .section-app .container .row .col {
  width: 50%;
}
body .section-app .container .row .col .card {
  padding-left: 20px;
}
body .section-app .container .row .col .card h1 {
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 30px;
}
body .section-app .container .row .col .card p {
  font-size: 26px;
  color: #555555;
  margin-bottom: 30px;
}
body .section-app .container .row .col .card .btn-dark {
  margin-right: 20px;
}
body .section-app .container .row .col .card .btn-dark:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #636363;
}
body .section-product {
  margin-top: 40px;
}
body .section-product .container h1 {
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 20px;
}
body .section-product .container .row {
  margin-bottom: 30px;
}
body .section-product .container .row .col {
  width: 25%;
}
@media only screen and (max-width: 1200px) {
  body .section-product .container .row .col {
    width: 33%;
  }
}
body .section-product .container .row .col .card {
  padding: 10px;
}
body .section-product .container .row .col .card .d-flex {
  margin-top: 20px;
  cursor: pointer;
}
body .section-product .container .row .col .card .d-flex p {
  font-size: 20px;
  margin-right: 10px;
}
body .section-product .container .row .col .card .d-flex img {
  width: 15px;
  transition: 0.3s;
}
body .section-product .container .row .col .card .d-flex:hover img {
  transform: translateX(5px);
}
body .section-product .container .show-more {
  cursor: pointer;
}
body .section-product .container .show-more p {
  font-size: 20px;
  line-height: 25px;
  color: #487B94;
  margin-right: 10px;
  transition: 0.3s;
}
body .section-product .container .show-more p:hover {
  color: #2f5265;
  margin-right: 15px;
}
body .section-product .container .show-more span {
  transition: 0.3s;
}
body .section-product .container .show-more:hover span {
  transform: translateX(5px);
  background-color: #2f5265;
}
body .section-community {
  margin-top: 70px;
  margin-bottom: 20px;
}
body .section-community .container h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 40px;
}
body .section-community .container .row .col {
  width: 50%;
  margin-bottom: 40px;
}
body .section-community .container .row .col .card {
  border: 1px solid #e2e2e2;
  margin: 10px 15px;
}
body .section-community .container .row .col .card div {
  padding: 50px;
}
body .section-community .container .row .col .card div h2 {
  width: 50%;
  margin-bottom: 16px;
}
body .section-community .container .row .col .card div p {
  margin-bottom: 20px;
  width: 80%;
  font-size: 16px;
  line-height: 25px;
  font-weight: 100;
}
body .section-get-app {
  background-color: #fd9acb;
  padding: 110px 0;
}
body .section-get-app .container h1 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
body .section-get-app .container button:hover {
  background-color: white;
  color: black;
  border: 1px solid #636363;
}
body .owl {
  margin-top: 30px;
  margin-bottom: 30px;
}
body .owl h1 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 30px;
}
body .owl .owl-theme {
  padding-top: 50px;
  position: relative;
}
body .owl .owl-theme .item .box {
  cursor: pointer;
}
body .owl .owl-theme .item .box .d-flex {
  margin-top: 15px;
}
body .owl .owl-theme .item .box .d-flex .right-arrow {
  width: 15px !important;
  transition: 0.3s;
  display: inline-block;
  margin-left: 10px;
}
body .owl .owl-theme .item .box .d-flex:hover .right-arrow {
  transform: translateX(5px);
}
body .owl .owl-theme .owl-nav {
  margin: 10px;
  position: absolute;
  top: -30px;
  left: 0;
}
body .owl .owl-theme .owl-nav .owl-next {
  color: transparent;
  font-size: 60px;
  outline: none;
}
body .owl .owl-theme .owl-nav .owl-next:hover {
  background-color: transparent;
}
body .owl .owl-theme .owl-nav .owl-next span {
  background-image: url(/src/images/right-arrow1.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body .owl .owl-theme .owl-nav .owl-prev {
  color: transparent;
  font-size: 60px;
  outline: none;
}
body .owl .owl-theme .owl-nav .owl-prev:hover {
  background-color: transparent;
}
body .owl .owl-theme .owl-nav .owl-prev span {
  background-image: url(/src/images/left-arrow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
body .owl .commission {
  margin-top: 20px;
  font-size: 12px;
  color: grey;
}
body .footer {
  background-color: black;
  padding-top: 40px;
  padding-bottom: 50px;
}
body .footer .container .row .col {
  width: 25%;
}
body .footer .container .row .col .card {
  padding: 0 60px 0 0;
}
body .footer .container .row .col .card label {
  margin-bottom: 20px;
  position: relative;
  margin-top: 20px;
  display: block;
  color: black;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid grey;
}
body .footer .container .row .col .card label .d-flex {
  justify-content: space-between;
}
body .footer .container .row .col .card label .d-flex div {
  margin-right: 100px;
}
body .footer .container .row .col .card label .d-flex div p {
  color: grey;
  margin-bottom: 10px;
}
body .footer .container .row .col .card label select {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  opacity: 0;
  width: 100% !important;
  height: 100% !important;
  font-size: 16px;
}
body .footer .container .row .col .card .d-flex .social {
  cursor: pointer;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40px;
  height: 40px;
}
body .footer .container .row .col .card h3 {
  color: white;
  margin-bottom: 20px;
}
body .footer .container .row .col .card h3:hover {
  cursor: pointer;
  color: #487B94;
}
body .footer .container .row .col .card ul {
  list-style: none;
}
body .footer .container .row .col .card ul li {
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 500;
}
body .footer .container .row .col .card ul li:hover {
  cursor: pointer;
  color: #487B94;
}
body .footer .container .row .col .accordion__button {
  background-color: transparent;
  color: white;
}
body .footer .container .row .col-50 {
  font-size: 12px;
  margin-top: 30px;
  width: 50%;
}
body .footer .container .row .col-50 p {
  color: white;
  padding-right: 20px;
}
body .footer .container .row .col-50 ul {
  margin-left: 24px;
  list-style: none;
  display: flex;
}
body .footer .container .row .col-50 ul li {
  color: white;
  margin-right: 20px;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .navbar {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .navbar .menu-img {
    display: inline !important;
    margin-left: 15px;
  }
  .navbar .back-img {
    display: block !important;
  }
  .navbar .btn-collapse {
    margin-left: 20px;
    display: block !important;
    margin-right: 30px;
    border: none;
    background-color: transparent;
    outline: none;
  }
  .navbar .menu {
    margin-right: 0px !important;
  }
  .navbar .menu ul {
    background-color: white;
    position: absolute !important;
    flex-direction: column;
    top: 38px !important;
    left: 0 !important;
    width: 100% !important;
    height: 100vh !important;
  }
  .navbar .menu ul li a {
    padding: 20px !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
    width: 50% !important;
  }
  .navbar .menu ul li a:hover .list {
    display: block !important;
  }
  .navbar .menu ul li a:hover body {
    background-color: black !important;
  }
  .navbar .menu ul li a .overlay {
    display: none !important;
  }
  .navbar .menu ul li a .list {
    padding-top: 0 !important;
    top: 0px !important;
    height: 400px !important;
  }
  .navbar .menu ul li a .list .container .row .col {
    width: 100% !important;
  }
  .navbar .menu ul li a .list .container .row .col .feature-img {
    display: none !important;
  }
  .navbar .menu ul li a .list .container .row .col h1 {
    font-size: 20px;
    margin: 20px 0;
    font-weight: 500;
  }
  .navbar .menu ul li a .list .container .row .col p {
    display: none !important;
  }
  .navbar .menu ul li a .list .container .row .col .icon-arrow-right {
    display: none;
  }
  .navbar .menu ul li a .list .container .row ul {
    display: none !important;
  }

  .button-group {
    margin-right: 5px !important;
  }
  .button-group .get-app {
    display: block !important;
  }
  .button-group .login {
    margin-right: 10px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .header {
    background-image: none !important;
  }
  .header .header-img {
    display: block !important;
  }
  .header .container .shop-rule h1 {
    width: 100% !important;
    padding-top: 60px !important;
    font-size: 60px !important;
    color: black !important;
    line-height: 60px !important;
  }
  .header .container .shop-rule h5 {
    width: 100% !important;
    padding-top: 20px !important;
    color: #393939 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    margin-bottom: 30px !important;
  }
  .header .container .shop-rule p {
    color: black !important;
  }
  .header .container .shop-rule .img-sqr {
    border: 1px solid black;
  }

  .section-service .container .row .col {
    width: 50% !important;
  }

  .section-app .container .row .col {
    width: 100% !important;
  }
  .section-app .container .row .col .card h1 {
    font-size: 60px !important;
    line-height: 60px !important;
  }
  .section-app .container .row .col .card p {
    font-size: 20px !important;
    letter-spacing: 1px;
    line-height: 26px;
  }

  .section-product .container .row .col {
    width: 50% !important;
  }

  .footer .container .row .col {
    width: 33% !important;
  }
  .footer .container .row .col:nth-child(1) {
    width: 68% !important;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .header .container .shop-rule h1 {
    padding-top: 40px !important;
    font-size: 32px !important;
    color: black !important;
    line-height: 50px !important;
  }
  .header .container .shop-rule h5 {
    padding-top: 20px !important;
    color: #393939 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 200;
  }
  .header .container .shop-rule p {
    display: none;
  }
  .header .container .shop-rule .get-app {
    display: none;
  }
  .header .container .shop-rule .get-the-app {
    display: flex;
    justify-content: space-between;
  }
  .header .container .shop-rule .get-the-app .downUp {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
  }
  .header .container .shop-rule .get-the-app .downUp img {
    width: 20px !important;
    animation-duration: 1s;
    animation-name: animate-client;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  .section-service .container .row .col {
    width: 100% !important;
  }

  .section-app {
    margin-bottom: 40px;
  }
  .section-app .container .row .col {
    width: 100%;
  }
  .section-app .container .row .col .d-none {
    display: block;
  }
  .section-app .container .row .col .promo-img {
    display: none;
  }
  .section-app .container .row .col .card h1 {
    font-size: 40px !important;
    line-height: 40px !important;
  }
  .section-app .container .row .col .card p {
    font-size: 20px !important;
  }

  .section-community .container .row .col {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  .section-community .container .row .col .card div {
    padding: 20px !important;
  }
  .section-community .container .row .col .card div h2 {
    width: 100% !important;
    font-size: 22px;
  }
  .section-community .container .row .col .card div p {
    width: 100% !important;
  }

  .owl .owl-theme .active {
    transition: 0.7s;
    width: 270px !important;
  }
  .owl .owl-theme .owl-item {
    transition: 0.7s;
  }
  .owl .owl-theme .owl-nav {
    display: none;
  }

  .footer .container .row .col:nth-child(1) {
    width: 100% !important;
  }
  .footer .container .row .col-50 {
    margin-top: 20px !important;
    width: 100% !important;
  }
  .footer .container .row .col-50 ul {
    margin-left: 0 !important;
    display: block !important;
  }
  .footer .container .row .col-50 ul li {
    margin-bottom: 10px;
  }
  .footer .container .row .d-none {
    display: block !important;
  }
  .footer .container .col:nth-child(2), .footer .container .col:nth-child(3), .footer .container .col:nth-child(4) {
    display: none;
  }
}
@keyframes animate-client {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=global.css.map */
